.container {
    width: 800px;
    margin: 50px auto;
}
.typeahead-wrapper {
    display: block;
    margin: 50px 0;
}
.tt-dropdown-menu {
    background-color: #fff;
    border: 1px solid #000;
}
.tt-suggestion.tt-cursor {
    background-color: #ccc;
}